body{
  background-color:#000000;

}

h1{
  color:#0080ff;
  font-size: 350%

}

h2{
  color:#000c73;
  font-size: 250%
}

h3{
  color:#000c73;
  font-size: 250%
}

p{
  color: blue;
  font-family: verdana;
  font-size: 150%;
}
